.vscode
.DS_Store

Brute_Force/tetromino.py
Brute_Force/next_permutation.py
Brute_Force/prev_permutation.py
Brute_Force/all_permutations.py
Brute_Force/maximize_diff.py
Brute_Force/lotto.py
Brute_Force/create_password.py
Brute_Force/lotto_recursive.py
Brute_Force/sum_of_subsequence.py
Brute_Force/operator_insertion_recursive.py
Brute_Force/n_and_m_1.py
Brute_Force/n_and_m_5.py

Graph/abcde.py
Graph/second_dfs_and_bfs.py
Graph/connected_component.py
Graph/number_of_islands.py