.vscode
.DS_Store

Brute_Force/tetromino.py
Brute_Force/next_permutation.py
Brute_Force/prev_permutation.py
Brute_Force/all_permutations.py
Brute_Force/maximize_diff.py
Brute_Force/lotto.py
Brute_Force/create_password.py
Brute_Force/lotto_recursive.py
Brute_Force/sum_of_subsequence.py
Brute_Force/operator_insertion_recursive.py
Brute_Force/n_and_m_1.py
Brute_Force/n_and_m_5.py
Brute_Force/cain_calendar.py
Brute_Force/start_link.py
Brute_Force/word_math.py

Graph/abcde.py
Graph/second_dfs_and_bfs.py
Graph/connected_component.py
Graph/search_maze.py
Graph/tomato.py
Graph/hide_and_seek.py
Graph/emoticon.py
Graph/hide_and_seek3.py
Graph/hide_and_seek3-deque.py
Graph/algospot.py
Graph/algospot_deque.py
Graph/breaking_wall_and_moving.py
Graph/escape.py
Graph/puzzle.py

dynamic_programming/make_it_1.py
dynamic_programming/2xn_tiling.py
dynamic_programming/2xn_tiling_2.py
dynamic_programming/1,2,3_plus_3.py
dynamic_programming/buy_card.py
dynamic_programming/buy_card_2.py
dynamic_programming/1,2,3_plus_5.py
dynamic_programming/esay_number_of_stairs.py
dynamic_programming/ascending_number.py
dynamic_programming/pinary_number.py
dynamic_programming/sticker.py
dynamic_programming/wine_tasting.py
dynamic_programming/lis.py
dynamic_programming/gis.py
dynamic_programming/lds.py
dynamic_programming/logest_bitonic_partial_seq.py
dynamic_programming/continuous_sum_2.py
dynamic_programming/sum_of_square_num.py
dynamic_programming/total_decomposition.py
dynamic_programming/move.py
dynamic_programming/coin.py
dynamic_programming/coin_2.py
dynamic_programming/ordinary_backpack.py
dynamic_programming/parenthesis.py

study